<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cocktails</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="css/app.css">
<link rel="shortcut icon" href="img/favicon.ico">
</head>
<body ng-app="cocktails">
<h1><img src="/img/tiki-bartender.svg" alt="Cocktails" height="50" width="50"> Cocktails </h1>
<h2> Select Your Ingredients </h2>
<div id="ingredients-list" ng-controller="IngredientsController">
  <ul class="list-group">
    <li ng-repeat="ingredient in ingredients" class="ingredient list-group-item" ng-click="clickedIngredient(ingredient.id)" ng-class="{active: isSelected(ingredient.id)}">
    <img ng-src="{{ingredient.image_thumb}}" alt="{{ingredient.name}}" height="50" width="50">
    <span class="heading">{{ ingredient.name }}</span>
    </li>
  </ul>
</div>
<div id="cocktail-suggestions" ng-controller="CocktailsController">
  <div ng-click="suggestClicked()">
    <ul class="list-group">
      <li class="list-group-item">
      <div class="suggest-text">Suggest Cocktails</div>
      <div class="suggest-arrow"> <i class="glyphicon glyphicon-menu-down"></i></div>
      </li>
    </ul>
  </div>
  <ul class="list-group">
    <li ng-repeat="cocktail in cocktails" class="cocktail list-group-item" ng-click="clickedCocktail(cocktail.id)">
    <div class="row">
      <img ng-src="{{cocktail.image_thumb}}" alt="{{cocktail.name}}" height="50" width="50">
      <span class="heading">{{ cocktail.name }}</span>
    </div>
    <div ng-if="isExpanded(cocktail.id)" class="row ingredients-string">
      {{ ingredientsString(cocktail) }}
    </div
    </li>
  </ul>
</div>
<script src="src/app.js"></script>
<script src="src/services.js"></script>
<script src="src/controllers.js"></script>
</body>
</html>
